
/*position: static nao aceita valores de top
position fixed fixa elemento na tela
position sticky age como um adesivo, fixa o elemento so onde eu determinar
position relative posição relativa a posição inicial dele
position absolute posição absoluta (fixa) a alguns elemento ou a pagina 

propriedades

top
bottom
left
right
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

.div-dad{
    height: 350px;
    width: 350px;
    background-color: #ff1396;
}

.div-som {
    height: 150px;
    width:  150px;  
    background-color: #fff000;
}

.tanananan {

    background: red;
    height: 100px;
    width: 100px;


    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a::after{
    content:"jatinho"
}

a::before{
content: "emotion"
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 700px;
    width: 700px;
    background: blue;
}

@media (max-width:60px) {
    
div {
    background: red;
    height: 200px;
    width: 200px;
}

}