
*{font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
letter-spacing: 0.875px;
color: #17233D;
margin: 10px;
padding: 0;
box-sizing: border-box;
}

header{
    margin: 50px 70px 600px 70px;
}

.link-header{
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
letter-spacing: 0.875px;
cursor: pointer;
color: #17233D;
}

.button-header{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    left: 10;
    right: 0;
    top: 0;
    bottom: 10px;
    border: none;
    background: #6FBF44;
    border: 5px solid #4CB538;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
}

.logo-imagem2{
    position: absolute;
    width: 595.18px;
    height: 500px;
    left: 121px;
    top: 246px;
}

section{
display: inline-block;
margin-left: 30px;
}

h1{
    position: absolute;
    width: 582px;
    height: 164px;
    left: 801px;
    top: 342px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
}

p{
    position: absolute;
    width: 493px;
    height: 99px;
    left: 801px;
    top: 553px;
    cursor: pointer;
}

.button-man{
    height: 27px;
    left: 55.62%;
    right: 36.6%;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
     border-radius: 50px;
    border: none;
 
}
