h1 {
color: red; 
font-size: 64px;
font-weight: lighter;
font-family: "roboto";
font-style: italic;
text-shadow: 5px 5px 10px #ff000f;
}

* {
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 100px;
    background: #ff1493;
    padding: 20px;
    border: 10px solid #0000ff
}

p{
    color: blue;
    font-size: 30px;
    font-weight: 30px;
    font-family: "roboto";
    font-style: italic;
    line-height: 50px;
    letter-spacing: 50px;
    word-spacing: 40px;
    text-align: justify;
    text-transform: capitalize;
    text-decoration: underline;
}

